body{
    font-family: Arial, Helvetica, sans-serifgit;
}

#marco{
    margin: auto; text-align: center;
    background-color: #ECECEC;
    border-radius: 10px; 
    padding: 10px;
}

#texto5{
    margin-left: -45px;
}

#iconuser{
    margin-top: 10px;
    margin-left: 8px;
}

.person{
    position: absolute;
}

#texto55{
    margin-left: -170px;
}

#contactForm {
    margin: auto;
    width: 500px;
}
.registro {
    width: 280px;
    height: 40px;
    border-radius: 10px; border-style: none;
    margin-bottom: 3%;
    padding-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#movil{
    position: absolute;
}

#iconphone{
    margin-top: 10px;
    margin-left: 8px;
}

.cel{
}

#folio{
}
#mail{
}

#iconmail{
    margin-top: 10px;
    margin-left: 8px;
}

.correo{
}

#date{
    
}

#icondate{
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 50px;
}

#comments {
    margin: auto; text-align: center;
    display: flex; text-align: start;
    width: 280px;
    height: 80px;
    border-radius: 10px; border-style: none;
    margin-bottom: 3%;
    padding-left: 5px;
}

#bottomreg {
    color: white;
    font-size: large;
    background-color: #009DFF;
    width: 318px;
    height: 45px;
    border-radius: 10px; border-style: none;
    margin-bottom: 3%;
}
@media screen and (min-width: 450px)