#talleres-container{
}
#taller-form{
}
#datos-container{
    display: flex;
    flex-direction: row;
}
#Nombre-taller{
    width: 375px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 3%;
}
#Nombre-tallerista{
    width: 375px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 3%;
}
#Descripcion-taller{
    width: 375px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 3%;
}
#dias{
    width: 65px;
    height: 40px;
    margin-bottom: 3%;
}
#anadir{
    width: 369px;
    height: 36px;
    border-radius: 10px;    
    margin-bottom: 3%;
    background-color: #4A9183;
    color: white;
}
#form-colum-left{

}