#grid-galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (3, 1fr);
    width: 1295px;
    height: 650px;
    gap: 5px;
}
.img-v {
    grid-column: 1/2;
    grid-row: 1/4;
    overflow:hidden;
}
.img{
    position:relative;
    overflow: hidden;
}
#degradado{
    position: absolute;
    opacity: 0%;
    z-index: 1 ;
    height: 100%;
    width: 100%;
}
#degradado:hover{
    cursor: pointer;
    opacity: 100%;
    background: rgb(56,10,26);
    background: linear-gradient(180deg, rgba(56,10,26,1) 0%, rgba(255,255,255,0) 100%);
}