#m-container {
    display: flex;
}
header {
    display: flex;
    font-style: Roboto;
    background-image: url(../Assets/Banner_final.jpg);
    background-repeat: no-repeat;
}
#nombre_pilares {
    display: flex;
    width: 1980px;
    height: 280px;
}