* {margin: 0; 
padding: 0;
}
#header {
   background-image: url("Assets/Banner.jpg");
   height: 280px; 
   width: 100%;
   color:white;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   
}
#NombrePilares {
    width: 400px;
}
body {
    font-family: "Roboto";
}
#redes {
    display: flex;
    align-content: space-between;
}
#content {
    display: flex;
    flex-direction: row;
}
#categoria{
    display: flex;
    flex-direction: row;
}
.button {
    background-color: #179BE5;
    border: none;
    color: white;
    padding: 350 px 46 px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24 px;
}